<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="/static/js/qos.js"></script>
    <title>QoS Control Web GUI</title>
  </head>
  <body ng-app="webApp" ng-controller="qosCtrl">

  {% include 'header.html' %}

  <h3>QoS Control Page</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>AP Info.(ssid)</th>
        <th>AP Info. (ip)</th>
        <th>Rule (ip/prefix)</th>
        <th>Rule (port)</th>
        <th>Action (uplink, KB/s)</th>
        <th>Action (downlink, KB/s)</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ap in aps">
        <td>{[ ap.ssid ]}</td>
        <td>{[ ap.ap_ip ]}</td>
        <td>{[ ap.target_ip ]}/{[ap.target_ip_prefix_bits]}</td>
        <td>{[ ap.target_ports ]}</td>
        <td>{[ ap.qos_bandwidth_uplink ]}</td>
        <td>{[ ap.qos_bandwidth_downlink]}</td>
        <td>
          <button class="btn" ng-click="editRecord(ap)">
            <span class="glyphicon glyphicon-pencil"></span>  Edit
          </button>

          <button class="btn btn-danger" ng-click="delRecord(ap)">
          <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <hr>
  <button class="btn btn-success" ng-click="editRecord('new')">
  <span class="glyphicon glyphicon-user"></span>  Create New QoS Rule
  </button>

  <hr>

  <form class="form-horizontal" ng-hide="hideform">
    <h3 ng-show="edit">Create New QoS Rule:</h3>
    <h3 ng-hide="edit">Edit QoS Rule:</h3>
    <!--hidden value required-->
    <input type="hidden" name="id" value="">
    <div class="form-group">
      <label class="col-sm-2 control-label">AP ssid:</label>
      <div class="col-sm-10">
      <input type="text" ng-model="submit_form.ssid" placeholder="ssid">
      </div>
    </div> 
    <div class="form-group">
      <label class="col-sm-2 control-label">AP ip:</label>
      <div class="col-sm-10">
      <input type="text" ng-model="submit_form.ap_ip" placeholder="AP ip">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Target ip/prefix:</label>
      <div class="col-sm-10">
      <input type="text" ng-model="submit_form.target_ip" placeholder="Target ip">
      <input type="text" ng-model="submit_form.target_prefix" placeholder="Target prefix">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Target ports:</label>
      <div class="col-sm-10">
      <input type="text" ng-model="submit_form.target_ports" placeholder="Target ports">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Target Uplink Bandwidth (KB/s):</label>
      <div class="col-sm-10">
      <input type="text" ng-model="submit_form.uplink" placeholder="uplink">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Target Downlink Bandwidth (KB/s):</label>
      <div class="col-sm-10">
      <input type="text" ng-model="submit_form.downlink" placeholder="downlink">
      </div>
    </div>

    <hr>
    <button class="btn btn-success" ng-disabled="incomplete" ng-click="submit();">
    <span class="glyphicon glyphicon-save"></span>  Save Changes
    </button>
  </form>

  </body>
</html>
